<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cir.PeerComm.Common.Properties.Settings" type="System.Configuration.PeerSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="cir.PeerComm.Properties.Settings" type="System.Configuration.PeerSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <cir.PeerComm.Common.Properties.Settings>
            <setting name="UseCustomResolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomResolverURI" serializeAs="String">
                <value>yourserver:yourport</value>
            </setting>
            <setting name="CustomeResolverName" serializeAs="String">
                <value>ResovlerName</value>
            </setting>
        </cir.PeerComm.Common.Properties.Settings>
        <cir.PeerComm.Properties.Settings>
            <setting name="UseCustomResolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomResolverURI" serializeAs="String">
                <value>yourserver:yourport</value>
            </setting>
            <setting name="CustomeResolverName" serializeAs="String">
                <value>ResovlerName</value>
            </setting>
            <setting name="ActAsCustomResolver" serializeAs="String">
                <value>False</value>
            </setting>
        </cir.PeerComm.Properties.Settings>
    </applicationSettings>
</configuration>